package views

import "github.com/edwincarlflores/mind/internal/app/views"

templ Container() {
	<div
 		class="container mx-auto h-screen max-w-fit p-6 md:p-6 lg:px-24 lg:py-20"
 		id="container-body"
	>
		{ children... }
	</div>
}

templ Page(pageName string, username string) {
	@views.Index(pageName) {
		<div class="bg-slate-50">
			@Navbar(username)
			@Container() {
				{ children... }
			}
		</div>
	}
}
